[submodule "my_plugins/onehalf"]
	path = my_plugins/onehalf
	url = https://github.com/sonph/onehalf
[submodule "my_plugins/coc.nvim"]
	path = my_plugins/coc.nvim
	url = https://github.com/neoclide/coc.nvim
