[submodule "my_plugins/jedi-vim"]
	path = my_plugins/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "my_plugins/onehalf"]
	path = my_plugins/onehalf
	url = https://github.com/sonph/onehalf
